<div class="card">
  <div class="card-header">
    <h6 class="card-title">Situazione odierna</h6>
  </div>
  <div class="card-body">
    <canvas id=chartPie width="10" height="10"></canvas>
  </div>
  <div class="card-footer text-center">
    <hr>
    <div class="chart-legend">
      <span><i class="fa fa-circle text-warning"></i> Nuovi Positivi</span>
      <span><i class="fa fa-circle text-danger"></i> Positivi Già Rilevati</span>
      <span><i class="fa fa-circle text-success"></i> Guariti Dimessi</span>
      <span><i class="fa fa-circle text-secondary"></i> Deceduti</span>
    </div>
  </div>
</div>
